
 .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


 body {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0; padding:0;
    /*background: linear-gradient(135deg, #133b37, #1a5854);*/
    background: #d7c9b4;;
    color: #133b37;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
 }
 
 header {
    padding:2rem 1rem;
    background: #133b37;
    color:#d7c9b4;
    box-shadow: 0 2px 8px #d7c9b4;
 }

 header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}


 .label_sottotitolo {
    font-size: 1.6rem;
    margin-top: 3.5rem;
    font-weight:bold;
 }

 .box_custom {
    margin-top:4.5rem;
    border:solid 1px #133b37;
    box-shadow:0 0 0 3px transparent, 0 25px 30px #4f5353;
    border-radius:20px;
    background-color:#133b37;
    width:50%;
    max-width: 50rem;
    margin: 0 auto;
    padding:2rem;
 }

 .label_custom {
    font-size:1.3rem;
    color:#d7c9b4;
 }

 .button_custom {
    position:relative;
    top:4rem;
    background-color: #133b37;
    color: #d7c9b4;
    box-shadow:0 0 0 3px transparent, 0 15px 30px #4f5353;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.3rem;
    padding:1.2rem;
    text-decoration: none;
    width: 15%;         /* oppure 50%, 100%, ecc. */
    max-width: 90%;
    margin: 0 auto;
    display: block;

 }

  .button_custom:hover {
    background-color: #1a5854;
    color: #d7c9b4;
  }

 .elementi_affiancati {
    position:relative;
    margin-top: 8rem;  
    margin-bottom: 6rem;
    display:flex;
    justify-content: center;
    flex-direction:row;
    gap: 2rem;
 }

 .image_custom {
    width:50%;
    max-width: 27rem;
    border-radius: 30px;
 }

 #contatti {
    position:relative;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    font-weight: bold;;
 }

 footer {
    padding: 1.3rem;
    font-size: 0.9rem;
    background-color: #133b37;
    color: #d7c9b4; 
 }

 @media (max-width: 480px) {

  header h1 {
    font-size: 2rem;
  }

  .label_sottotitolo {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  .box_custom {
    width: 70%;
    max-width: 90%;
    padding: 1.5rem;
  }

  .label_custom {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .button_custom {
    width: 50%;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom:2rem;
  }

  .elementi_affiancati {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 7rem; /* Riduci un po' per mobile */
    margin-bottom: 3rem;
  }

  .image_custom {
    width: 80%;
    max-width: 100%;
    border-radius: 20px; /* leggermente più piccolo per mobile */
  }

  #contatti {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem; /* Per evitare che il testo tocchi i bordi su schermi piccoli */
  }
}

@media (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  header h1 {
    font-size: 2.2rem;
  }

  .label_sottotitolo {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }

  .box_custom {
    width: 80%;
    max-width: 95%;
    padding: 1.5rem;
  }

  .label_custom {
    font-size: 1.2rem;
  }

  .button_custom {
    width: 60%;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .elementi_affiancati {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    gap: 1.5rem;
  }

  .image_custom {
    width: 85%;
    max-width: 100%;
  }

  #contatti {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}
